<div class="jumbotron">
	<form method="POST" name="addItem" role="businessForm" ng-submit="saveBusiness(businessForm)">
		<div class="alert alert-success" ng-show="addItem.name.$invalid && addItem.owner.name.$invalid && saveSuccess != null && saveSuccess != ''">
			<strong>{{saveSuccess}}</strong>
		</div>
    	<div class="container">
             <div class="form-group">
               <input ng-model="businessForm.name" type="text" placeholder="Nome" name="name" class="form-control" required />
             </div>
             <div class="form-group" >
               <input ng-model="businessForm.owner" type="text" placeholder="Email" name="email" class="form-control" required />
             </div>
             <div class="form-group" >
               <input ng-model="businessForm.description" type="text" placeholder="Descrição" name="description" class="form-control" required />
             </div>
             <div class="form-group" >
             	<label>
			    	<input type="radio" ng-model="businessForm.status" ng-value="true" >
			    	Ativo
			  	</label>
			  	<label>
			    	<input type="radio" ng-model="businessForm.status" ng-value="false">
			    	Inativo
				</label>
	    	</div>
	    </div>
	    
	    <div id="divButtons">
		    <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-success">Salvar</button>
		    <a class="btn btn-danger" href="#!/business">Voltar</a>
	    </div>
	</form>
</div>