<div class="jumbotron">
	<h3>Usuários</h3>
	<a class="btn btn-success" href="#!/userEdit">Adicionar</a>
	<button class="btn btn-success" ng-click="atualizar()">Atualizar</button>
	<br /><br />
	{{message}}
	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />
	<br />
	<table ng-show="users.length > 0" class="table table-striped">
		<tr>
			<th>Ações</th>
			<th><a href="" ng-click="ordenarPor('name')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('email')">Email</a></th>
			<th>Status</th>
			<th>Cadastramento</th>
		</tr>
		<tr ng-repeat="user in users | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td>
				<a class="btn btn-default" href="#!/userEdit" ng-click="editUser(user)">Editar</a>
				<a class="btn btn-danger" href="#!/user" ng-click="deleteUser(user.id)">Excluir</a>
			</td>
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.statusString}}</td>
			<td>{{user.created | date:'dd/MM/yyyy HH:mm'}}</td>
		</tr>
		<tfoot>
			<tr>
		    	<td colspan="5">Total: {{users.length}}</td>
		    </tr>
  		</tfoot>
	</table>
</div>